<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Linux Proliferation Foundation | News</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/assets/css/sheet.css" />
        <link rel="shortcut icon" href="/favicon.png" />
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/tbi.js"></script>
        <script src="/assets/js/site.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="header"></div>
            <div id="content">
                <div id="maincontent">
                    <h1>News - View Article</h1>
                    <div class="news-control">
                        <a href="#" class="prev">Previous</a>
                        <a href="#" class="next">Next</a>
                    </div>
                    <div id="posts"></div>
                    <div id="sidebar">
                        <h1>News</h1>
                    </div>
                </div>
                <div id="footer"></div>
            </div>
        </div>
    </body>
</html>
